:root {
  --background-color: #3aafa9;
  --button-signup-color: #8e8d8a;
  --button-signin-color: #287A78;
  --button-edit-color: #f8e9a1;
  --button-delete-color: #f76c6c;
  --button-update-color: #3566A2;
  --button-cancel-color: #88bdbc;

}

.warnaicon{
  color: white !important;
}
.App {
  text-align: center;
}

.hoverer:hover{
  cursor: pointer;
}
.navbarhome{
  background-color: var(--background-color);
}
.edit{
  background-color: var(--button-signup-color) !important;
  color: white !important;
}
.delete{
  background-color: var(--button-delete-color) !important;
  color: white !important;
}
.update{
  background-color: var(--button-update-color) !important;
  color: white !important;
}
.cancel{
  background-color: var(--button-signup-color) !important;
  color: white !important;
}
.paddingatas{
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}
.th{
  font-size: 20;
}
td{
  vertical-align: middle !important;
  text-align: center !important;
}
thead{
  text-align: center !important;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
